/* Write your global styles here */
@import 'tailwindcss';
@plugin "daisyui";

@layer components {
	.sidebar-icon {
	}

	.sidebar-tooltip {
		position: absolute;
		width: auto;
		z-index: 10;
		padding: 0.5rem;
		margin: 0.5rem;
		min-width: max-content;
		left: 3.5rem;
		border-radius: 0.375rem;
		box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
		font-size: 0.875rem;
		line-height: 1.25rem;
		font-weight: 700;
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 100ms;
		scale: 0;
		transform-origin: left;
	}
}
